.banner-principal p
  color: #12263F
.banner-principal h1
  color: #12263F
.banner-interno__fondo
  background-image: url("../assets/curso/fondo-banner-interno.png") !important
  background-repeat: no-repeat   
.bg1
  background-image: url("../assets/curso/tema1/bg1.png") 
  background-repeat: no-repeat  
.bgvideos
  background-image: url("../assets/curso/bgvideos.png") 
  background-repeat: no-repeat  
.bg4
  background-image: url("../assets/curso/tema2/fondo.png") 
  background-repeat: no-repeat  
  background-position-y: 200px 
.bg99
  background-color: #0CCA4A 
.bg98
  background-color: #0CCA4A 
.bg99:hover
  background-color: #FFBC42
.mg1
  margin-top: -300px
  margin-left: 200px
.bg2
  background-color: #FFBC42
.bg3
  background-color: #A2F9BE
.wi1
  width: 249px
.aa
  background-image: url("../assets/curso/tema2/aa.png") 
  background-repeat: no-repeat   
  background-position: 520px -10px
.tarjeta--gris
  background-color: #7FCFFF
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #004E64
.linea-tiempo-d.color-primario .linea-tiempo-d__item .linea-tiempo-d__item__number
  background-color: #004E64
  color: white
.wii
  width: 30px
  margin-left: 30px
.img-infografica.color-secundario .img-infografica__item__numero
  color: #12263F
.cajon.color-acento-botones.p-4.mb-4
  background-color: #FFF2D9
  margin-left: -18px
.bg77
  background-image: url("../assets/curso/tema4/bg1.png") 
  background-repeat: no-repeat   
.ml
  margin-right: 30px
  margin-top: -20px
.maq
  margin-left: 100px
.lag
  margin-top: -260px
.imgposition
  z-index: 1
  position: relative
.bg11
  background-image: url("../assets/curso/tema2/bg2.png") 
  background-repeat: no-repeat  
.lag2
  margin-top: -130px
.bg33
  background-image: url("../assets/curso/tema3/bg3.png") 
  background-repeat: no-repeat  
.lag3
  margin-bottom: -300px
.lag4
  margin-top: -80px
.img-infografica__item__dot:before
  opacity: 0.1;